{{ block "dateToggle" . }}
    <div>
        <button id="dateToggle" onclick="toggleDatePicker()" class="pb-2 pt-3 px-3 text-green-100 text-base sm:text-lg font-medium rounded-full bg-gray-600">
            <span class="hidden sm:inline-block sm:pr-0.5">📅</span>
            Date
        </button>
    </div>
{{ end }}


{{ block "datePicker" . }}
    <div id="datePicker" class="flex flex-col lg:flex-row gap-2 w-full items-center">
        <div  class="flex gap-2 w-full">
            <select
                id="month"
                hx-get="/date-picker"
                hx-include="#day, #year"
                hx-disabled-elt="this"
                hx-swap="outerHTML"
                hx-target="#datePicker"
                name="month"
                class="p-3 block h-12 md:h-14 rounded text-lg font-medium md:text-2xl w-full text-green-200 border border-stone-600 bg-stone-950 focus:outline-none focus:ring-2 focus:ring-green-500"
                onchange="handleDatePickerDisabled()"
            >
            {{ range .DatePicker.Months }}
                <option value="{{ .Val }}" {{ if .IsSelected }}selected{{ end }}>{{ .Name }}</option>  
            {{ end }}
            </select>
            <select
                id="day"
                name="day"
                class="p-3 block h-12 md:h-14 rounded text-lg font-medium md:text-2xl w-full text-green-200 border border-stone-600 bg-stone-950 focus:outline-none focus:ring-2 focus:ring-green-500"
                onchange="handleDatePickerDisabled()"
            >
            {{ range .DatePicker.Days }}
                <option value="{{ .Val }}" {{ if .IsSelected }}selected{{ end }}>{{ .Name }} {{ if .Meta }}<span>{{ .Meta }}</span>{{ end }}</option>
            {{ end }}
            </select>
            <select
                id="year"
                hx-get="/date-picker"
                hx-include="#month, #day"
                hx-disabled-elt="this"
                hx-swap="outerHTML"
                hx-target="#datePicker"
                name="year"
                class="p-3 block h-12 md:h-14 rounded text-lg font-medium md:text-2xl w-full text-green-200 border border-stone-600 bg-stone-950 focus:outline-none focus:ring-2 focus:ring-green-500"
                onchange="handleDatePickerDisabled()"
            >
            {{ range .DatePicker.Years }}
                <option value="{{ .Val }}" {{ if .IsSelected }}selected{{ end }}>{{ .Name }}</option>  
            {{ end }}
            </select>
        </div>
        <div class="w-full lg:w-1/2">
            <button
                id="datePickerButton"
                hx-get="/trips"
                hx-include="#fromStop, #toStop, #year, #month, #day"
                hx-disabled-elt="this, #month, #day, #year"
                hx-target="#datePicker"
                hx-select-oob="#timetable, #otherway"
                hx-swap="outerHTML"
                type="button"
                class="bg-yellow-600 text-yellow-100 md:text-lg lg:text-xl rounded p-2 w-full disabled:opacity-50 disabled:cursor-not-allowed"
            >
                Change Date
            </button>
        </div>
    </div>
{{ end }}