{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GoGoTrainSchedule</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚆</text></svg>" />
		<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	</head>
	<body>
        <h1>GoGoTrainSchedule</h1>

        <form>
            <label for="fromStop">From:</label>
            {{ template "selectFrom" . }}
            <label for="toStop">To:</label>
            {{ template "selectTo" . }}
        </form>
	
        {{ template "trips" .Timetable }}
        
		<script>
			document.addEventListener("DOMContentLoaded", (event) => {
				document.body.addEventListener("htmx:beforeSwap", (evt) => {
					if (evt.detail.xhr.status === 422) {
						evt.detail.shouldSwap = true;
						evt.detail.isError = false;
					}
				})
			})

            const allTimeLefts = Array.from(document.querySelectorAll('.timeToCatch'));
            function updateTimeToCatch() {
                allTimeLefts.forEach((el) => {
                    const now = Date.now();
                    const end = new Date(el.dataset.zeroTime).getTime();
                    const min = (end - now) / 1000 / 60;
                    el.innerText = `(${Math.round(min)}m)`;
                })
            }
            updateTimeToCatch();
            setInterval(updateTimeToCatch, 1000 * 5)
		</script>
	</body>
</html>
{{ end }}

{{ block "destinationOption" . }}
    <option value="{{ .Code }}" {{ if .X_isSelected }}selected{{ end }}>{{ .Name }}</option>
{{ end }}

{{ block "selectFrom" . }}
<select 
    hx-get="/to"
    hx-target="#toStop"
    hx-swap="outerHTML"
    id="fromStop"
    name="fromStop" 
>
	{{ range .DestinationsFrom }}
		{{ template "destinationOption" . }}
	{{ end}}
</select>
{{ end }}

{{ block "selectTo" . }}
<select name="toStop" id="toStop">
	{{ range .DestinationsTo }}
		{{ template "destinationOption" . }}
	{{ end}}
</select>
{{ end }}

{{ block "trips" . }}
<div id="trips">
    <ol>
	{{ range .Trips }}
		{{ template "trip" . }}
	{{ end}}
    </ol>
</div>
{{ end }}

{{ block "trip" . }}
<li>
    <p>Departs: {{ .DepartureTimeDisplay }} <span class="timeToCatch" data-zero-time="{{ .OrderTime }}"></span></p>
    <p>Travels: {{ .Duration }}</p>
    <p>Arrives: {{ .ArrivalTimeDisplay }}</p>
</li>
{{ end}}