{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .GGTS_TITLE }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚆</text></svg>" />
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body class="bg-stone-900 text-green-200">
    <header class="p-4 border-b-2 border-green-200">
        <a href="{{ .GGTS_URL }}">
            <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl">🚆 GoGoTrainSchedule</h1>
        </a>
    </header>

    <main class="p-4">
        <h2 class="mb-4">{{ .Timetable.Date }}</h2>
        <form class="flex flex-col gap-4 mt-2 sm:mt-4 md:mt-6 sm:flex-row">
            <div class="flex items-center w-full">
                <label for="fromStop" class="block min-w-12 md:text-lg">From</label>
                {{ template "selectFrom" . }}
            </div>
            <div class="flex items-center w-full">
                <label for="toStop" class="block min-w-12 md:text-lg">To</label>
                {{ template "selectTo" . }}
            </div>
        </form>
    
        <section class="mt-4 sm:mt-6 md:mt-8">
            <h2 class="text-xl font-bold sm:text-2xl md:text-3xl">Trips</h2>
            {{ template "timetable" . }}
        </section>
    </main>
    
    
    <script>
        let interval;
        
        document.addEventListener("DOMContentLoaded", (event) => {
            updateTimeToDepart();
            interval = setInterval(updateTimeToDepart, 1000 * 5);
            
            document.body.addEventListener("htmx:beforeSwap", (evt) => {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            })
            document.body.addEventListener("htmx:afterSwap", (evt) => {
                if (evt.detail.target.id === "timetable") {
                    clearInterval(interval);
                    updateTimeToDepart();
                    interval = setInterval(updateTimeToDepart, 1000 * 5);
                }
            })
        })

        function updateTimeToDepart() {
            const allTimeLefts = Array.from(document.querySelectorAll('.timeToCatch'));
            allTimeLefts.forEach((el) => {
                const now = Date.now();
                const end = new Date(el.dataset.zeroTime).getTime();
                const min = Math.floor((end - now) / 1000 / 60);
                const hrs = Math.floor(min / 60);
                el.innerText = `(${hrs > 0 ? hrs + "h" : ""  }${min - (hrs * 60)}m)`;
            })
        }
    </script>
</body>
</html>
{{ end }}

{{ block "destinationOption" . }}
    <option value="{{ .Code }}" {{ if .X_isSelected }}selected{{ end }}>{{ .Name }}</option>
{{ end }}

{{ block "selectFrom" . }}
<select 
    hx-get="/to"
    hx-target="#toStop"
    hx-swap="outerHTML"
    hx-include="#toStop"
    hx-select-oob="#timetable"
    id="fromStop"
    name="fromStop" 
    class="p-3 block h-12 text-lg md:text-xl  w-full text-green-100 border border-green-100 bg-stone-950 focus:outline-none focus:ring-2 focus:ring-blue-500"
>
	{{ range .DestinationsFrom }}
		{{ template "destinationOption" . }}
	{{ end}}
</select>
{{ end }}

{{ block "selectTo" . }}
<select 
    hx-get="/trips"
    hx-target="#timetable"
    hx-swap="outerHTML"
    hx-include="#fromStop"
    name="toStop" 
    id="toStop"
    class="p-3 block h-12 text-lg  md:text-xl w-full text-green-100 border border-green-100 bg-stone-950 focus:outline-none focus:ring-2 focus:ring-blue-500"
>
	{{ range .DestinationsTo }}
		{{ template "destinationOption" . }}
	{{ end}}
</select>
{{ end }}

{{ block "timetable" . }}
<div id="timetable" class="mt-2">
    <ol>
	{{ range .Timetable.Trips }}
		{{ template "trip" . }}
    {{ else }}
        <li class="flex justify-center p-4">
            <p class="text-lg">No results</p>
        </li>
	{{ end }}
    </ol>
</div>
{{ end }}

{{ block "trip" . }}
<li class="border-t border-green-100 grid grid-cols-7 sm:grid-cols-3 gap-2 pt-1 pb-5">
    <div class="flex flex-col col-span-3 sm:col-span-1">
        <span class="text-xs md:text-sm text-green-300 uppercase opacity-80 font-medium">Departs</span>
        <span class="text-lg font-medium sm:text-xl md:text-2xl">{{ .DepartureTimeDisplay }} <span class="timeToCatch text-base font-normal" data-zero-time="{{ .OrderTime }}"></span></span>
    </div>
    <div class="flex flex-col col-span-2 sm:col-span-1">
        <span class="text-xs md:text-sm text-yellow-200 uppercase opacity-80 font-medium">Travels</span>
        <span class="text-lg font-medium sm:text-xl md:text-2xl">{{ .Duration }}</span>
    </div>
    <div class="flex flex-col col-span-2 sm:col-span-1 items-end sm:items-start">
        <span class="text-xs md:text-sm text-red-200 uppercase opacity-80 font-medium">Arrives</span>
        <span class="text-lg font-medium sm:text-xl md:text-2xl">{{ .ArrivalTimeDisplay }}</span>
    </div>
</li>
{{ end }}
